<div style="margin-top: 20px; margin-bottom: 40px;">
  <div *ngFor="let userNotification of currentUserNotifications">
    <div *ngIf="userNotification.userNotification.notyficationType === 'WorkspaceWithRequiredAccess'">
      <!--no read notification-->
      <mat-card style="margin-top: 10px;" *ngIf="!userNotification.userNotification.isRead">
        <span style="margin-right:10px; margin-bottom: -10px;">
          <mat-icon color="warn">stop_circle</mat-icon>
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <span style="margin-left:10px;">
          user {{userNotification.displayName}} want to join to {{userNotification.workspaceName}}               
        </span>
        <div fxFlex></div>
        <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;">
          <mat-icon>assignment</mat-icon>&nbsp; show notification details
        </button>
      </mat-card>
      <!--read notification-->
      <mat-card style="margin-top: 10px;" *ngIf="userNotification.userNotification.isRead">
        <span style="margin-right:10px; margin-bottom: -10px;">
          <mat-icon>dialpad</mat-icon>
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <span style="margin-left:10px;">
          user {{userNotification.displayName}} want to join to {{userNotification.workspaceName}}                
        </span>
        <div fxFlex></div>
        <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;">
          <mat-icon>assignment</mat-icon>&nbsp; show notification details
        </button>
      </mat-card>        
    </div>
    <div *ngIf="userNotification.userNotification.notyficationType === 'WorkspaceWithRequiredAccessResponse'">
      <!--no read notification-->
      <mat-card style="margin-top: 10px; opacity: 0.985;" *ngIf="!userNotification.userNotification.isRead">
        <span style="margin-right:10px; margin-bottom: -10px;">
          <mat-icon color="warn">stop_circle</mat-icon>
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <span style="margin-left:10px;">
          Your joined request to {{userNotification.workspaceName}} has been 
            <span *ngIf="isAceptedByOwnerAndIsApproved(userNotification)">accepted</span>
            <span *ngIf="!isAceptedByOwnerAndIsApproved(userNotification)">rejected</span>                
        </span>
        <div fxFlex></div>
        <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;">
          <mat-icon>assignment</mat-icon>&nbsp; show notification details
        </button>
      </mat-card>
      <!--read notification-->
      <mat-card style="margin-top: 10px; opacity: 0.985;" *ngIf="userNotification.userNotification.isRead">
        <span style="margin-right:10px; margin-bottom: -10px;">
          <mat-icon>dialpad</mat-icon>
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <span style="margin-left:10px;">
          Your joined request to {{userNotification.workspaceName}} has been 
            <span *ngIf="isAceptedByOwnerAndIsApproved(userNotification)">accepted</span>
            <span *ngIf="!isAceptedByOwnerAndIsApproved(userNotification)">rejected</span>                
        </span>
        <div fxFlex></div>
        <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;">
          <mat-icon>assignment</mat-icon>&nbsp; show notification details
        </button>
      </mat-card>  
    </div>
  </div>
</div>
