<div *ngIf="!shouldHideChoseLoginOptionForm" style="margin-top: 10%;" class="login-wrapper" fxLayout="row"
  fxLayoutAlign="center center">

  <mat-card style="background-color: #ecececfa;" class="box">
    <p class="text-center" style="font-size: 16px; margin-bottom: 20px; margin-top: -10px;">Signup with 
      <a (click)="loginByFacebook()"> Facebook</a> or 
      <a (click)="loginByGoogle()"> Google</a></p>
    <mat-card-header>
      <mat-card-title>Join to fastretro.org</mat-card-title>
      <mat-card-subtitle style="margin-top: 10px;">
        Collaborate with your remote team and joint to fastretro.org
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div style="margin-top: 20px;">
        <button style="width: 100%;" mat-raised-button color="primary" (click)="loginByFacebook()"><i class="fa fa-facebook" style="margin-bottom: 3px;"></i>&nbsp; Continue with Facebook</button> <br />
        <button style="width: 100%; margin-top: 10px;" mat-raised-button color="accent" (click)="loginByGoogle()"><i class="fa fa-google" style="margin-bottom: 3px;"></i>&nbsp; Continue with Google</button>
        <button mat-raised-button style="background-color: #6179ff; color: white; margin-top: 10px;" class="btn-block" type="submit" (click)="continueWithMail()"><i class="fa fa-envelope-o" aria-hidden="true" style="margin-bottom: 3px;"></i>&nbsp; Continue with mail</button>
      </div>


    </mat-card-content>

    <p class="text-center" style="font-size: 16px; margin-top: 20px; margin-bottom: -20px;">Already have an account? <a
        [routerLink]="['/login-register']" routerLinkActive="router-link-active"> Sign in</a></p>
  </mat-card>
</div>


<!--SignUp with email-->
<div *ngIf="shouldHideChoseLoginOptionForm" style="margin-top: 10%;" class="login-wrapper" fxLayout="row"
  fxLayoutAlign="center center">

  <mat-card style="background-color: #ecececfa;" class="box">
    <p class="text-center" style="font-size: 16px; margin-bottom: 20px; margin-top: -10px;">Signup with 
      <a (click)="loginByFacebook()"> Facebook</a> or 
      <a (click)="loginByGoogle()"> Google</a></p>
    <mat-card-header>
      <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="addNewEmailPassRegisterForm" (ngSubmit)="CreateUserByEmailAndPass()" style="margin-top: 20px;">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="email" [formControl]="emailFormControl" matInput placeholder="@email" required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            An Email is required
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('email')">
            Please enter a valid Email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" [formControl]="passFormControl" matInput placeholder="Password (min 8 characters)" required>
          <mat-error *ngIf="passFormControl.hasError('required')">
            An Password is required
          </mat-error>
          <mat-error *ngIf="passFormControl.hasError('minlength')">
            Your password must be at least 8 characters long.
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <button mat-raised-button style="background-color: #6179ff; color: white;" class="btn-block" type="submit">
        <i class="fa fa-envelope-o" aria-hidden="true" style="margin-bottom: 3px;"></i>&nbsp; Sign in with mail
      </button>
      <p class="text-center" style="font-size: 16px; margin-top: 20px; margin-bottom: -20px;">Already have an account?
        <a [routerLink]="['/login-register']" routerLinkActive="router-link-active"> Sign in</a></p>
    </form>
  </mat-card>
</div>