
  .sidnav-userprofile{
    opacity: 0.95;
  }
  
  .sidenav-userprofile-card {
    max-width: 400px;
  }

  .sidnav-userprofile-header-image {
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image {
    transform: scale(1.10);
    opacity:0.7;
  }
 
  .sidenav-card-userprofile-content {
    margin-left: 90px;
    margin-bottom: -10px;
  }
  
  .sidenav-card-header {
    margin-top: 20px;
    margin-left: -6px;
    font-size: 16px;
  }
  
  .sidenav-userprofile-subtitle-followers {
    margin-top: 8px;
    margin-left: 2px;
  }
  
  .sidenav-userprofile-subtitle-following {
    margin-left: 2px;
  }

  .sidnav-usercard-element-position {
    position: absolute;
    bottom: 85px;
  }

  .sidenav-btn-signOut {

    width: 360px;
    height: 40px;
  }