<div class="sidnav-usercard-element-position">
  <div class="sidnav-userprofile sidenav-elemnt">
    <mat-card class="sidenav-userprofile-card">
        <mat-card-header >
          <div 
            *ngIf="currentUser.chosenAvatarUrl"
            mat-card-avatar 
            class="sidnav-userprofile-header-image-avatar1" >
          </div>
          <mat-card-title class="sidenav-card-header">
            <div style="margin-left: -7px;"><i class="fa fa-user-circle-o"></i> <span style="margin-left: 5px;">{{currentUser.displayName}}</span></div>
            <div><i class="fa fa-envelope-o"></i> <span style="margin-left: 5px;">{{currentUser.email}}</span></div>
          </mat-card-title>
          <mat-card-subtitle>
            <i class="fa fa-building"></i> <span style="margin-left: 5px;">{{currentUserWorkspaceName}}</span>
          </mat-card-subtitle>
        </mat-card-header>
    </mat-card>       
  </div>
  <button style="margin-top: 25px;" class="sidenav-btn-signOut sidenav-elemnt" color="accent" mat-raised-button (click)="authService.signOut()">
    <i class="fa fa-sign-out"></i>&nbsp; SignOut
  </button>  
</div>

