
  .sidnav-userprofile{
    opacity: 0.95;
  }
  
  .sidenav-userprofile-card {
    max-width: 400px;
  }

  .sidenav-card-userprofile-content {
    margin-left: 90px;
    margin-bottom: -10px;
  }

  .sidenav-card-header {
    margin-top: 22px;
    margin-left: -8.5px;
    font-size: 14px;
  }
  
  .sidenav-userprofile-subtitle-followers {
    margin-top: 8px;
    margin-left: 2px;
  }
  
  .sidenav-userprofile-subtitle-following {
    margin-left: 2px;
  }

  .sidnav-usercard-element-position {
    position: absolute;
    bottom: 85px;
  }

  .sidenav-btn-signOut {

    width: 360px;
    height: 40px;
  }

  /*avatars*/

  .sidnav-userprofile-header-image {
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image {
    transform: scale(1.10);
    opacity:0.7;
  }

  .sidnav-userprofile-header-image-avatar1 {
    background: url('../../../../../assets/avatars/avatar1.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar1,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar1 {
    transform: scale(1.10);
    opacity:0.7;
  }

  
  .sidnav-userprofile-header-image-avatar2 {
    background: url('../../../../../assets/avatars/avatar2.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar2,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar2 {
    transform: scale(1.10);
    opacity:0.7;
  }


  .sidnav-userprofile-header-image-avatar3 {
    background: url('../../../../../assets/avatars/avatar3.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar3,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar3 {
    transform: scale(1.10);
    opacity:0.7;
  }


  .sidnav-userprofile-header-image-avatar4 {
    background: url('../../../../../assets/avatars/avatar4.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar4,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar4 {
    transform: scale(1.10);
    opacity:0.7;
  }
 

  .sidnav-userprofile-header-image-avatar5 {
    background: url('../../../../../assets/avatars/avatar5.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar5,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar5 {
    transform: scale(1.10);
    opacity:0.7;
  }


  .sidnav-userprofile-header-image-avatar6 {
    background: url('../../../../../assets/avatars/avatar6.png');
    background-size: cover;
    width: 110px;
    height: 110px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar6,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar6 {
    transform: scale(1.10);
    opacity:0.7;
  }