<app-nav (toggleSidenav)="drawer.toggle()"></app-nav>
<mat-drawer-container class="app-container" autosize>
  <mat-drawer 
    #drawer class="sidenav-content-elements mat-elevation-z10 sidenav-container-background-image"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <div class="sidenav-element-flex-container">
      <div class="sidenav-element-flex-container">
        <button class="sidenav-elemnt" color="{{dashboardColor}}" [routerLink]="['/']" mat-raised-button (click)="setBtnColor(dashboardSection)">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
        <button class="sidenav-elemnt" color="{{teamsColor}}" [routerLink]="['/retro/teams']" mat-raised-button (click)="setBtnColor(teamsSection)">
          <mat-icon>people_alt</mat-icon> Teams
        </button>
  
        <button class="sidenav-elemnt" color="{{retroProcessColor}}" [routerLink]="['/retro/process']" mat-raised-button  (click)="setBtnColor(retroProcessSection)">
          <mat-icon>mood</mat-icon><mat-icon>mood_bad</mat-icon>  Start Retro Process
        </button>

        <app-sidenav-usercard></app-sidenav-usercard>

        <button class="sidenav-btn-signOut sidenav-elemnt" color="accent" mat-raised-button (click)="auth.signOut()">
          <i class="fa fa-sign-out"></i>&nbsp; SignOut
        </button>
      </div>
    </div>
   </mat-drawer>
   <div>
    <div class="app-sidenav-content">
      <div class="wrapper">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{currentChosenSection}}</li>
          </ol>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
   </div>

</mat-drawer-container>
