.app-container {
    flex: 1;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .sidenav-container-background-image {
    background: url('../../../../../assets/slidenav6.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sidenav-container-background-image ::after {
    opacity: 0.7;
  }

  .sidenav-container-background-image-small {
    background: url('../../../../../assets/slidenav6.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .app-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  
  mat-drawer {
    width: 400px;
  }

  .mat-drawer-width-small {
    width: 150px;
  }
  
  .wrapper {
    margin: 50px;
  }

  .sidenav-content-elements {
    
    padding: 20px;
  }

  .sidenav-elemnt {
    margin-bottom: 10px;
  }

  .sidenav-element-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .sidnav-userprofile{
  opacity: 0.6;
 }


 .example-card {
  max-width: 400px;
 }

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 120px;
  height: 120px;
}

.sidenav-card-userprofile-content {
  margin-left: 80px;
  margin-bottom: -10px;
}

.sidenav-card-header {
  margin-left: -6px
}

.teams-retro-background-img  {
  background: url("../../../../../assets/idea2.jpeg"); 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  margin-bottom: -65px;
}

.teams-retro-background-img-all-retroboard-section  {
  background-color: #dddddd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  margin-bottom: -65px;
}

.teams-retro-background-img-all-retroboard-section-with-height  {
  height: 100%;
}

.breadcrumb-background-color {
  background-color: #fefefe;
}

.card-title {
  background-color: #8ea045;
}

.sidenav-btn-signOut {
  position: absolute;
  bottom: 75px;
  width: 360px;
  height: 40px;
}