<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in</mat-icon>
    <span>Retro Drive</span>
    <span class="example-spacer"></span>
    <span>Login / Register</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">arrow_right_alt</mat-icon>
    <button  mat-raised-button color="accent" (click)="auth.signOut()"><i class="fa fa-google"></i>&nbsp; signOut</button>
  </mat-toolbar-row>
</mat-toolbar>

