<app-nav (toggleSidenav)="drawer.toggle()"></app-nav>
<mat-drawer-container class="app-container" autosize>
  <mat-drawer 
    #drawer class="sidenav-content-elements mat-elevation-z10 sidenav-container-background-image"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <div class="sidenav-element-flex-container">
      <div class="sidenav-element-flex-container">
        <button class="sidenav-elemnt" color="{{dashboardColor}}" mat-raised-button [routerLink]="['/']" (click)="setBtnColor(dashboardSection)">
          <mat-icon>dashboard</mat-icon> dashboard
        </button>
        <button class="sidenav-elemnt" color="primary" mat-raised-button>
          <mat-icon>photo</mat-icon> teams
        </button>
  
        <button class="sidenav-elemnt" color="{{userProfileColor}}" mat-raised-button  (click)="setBtnColor(userprofileSection)">
          <mat-icon>person</mat-icon> go retrospective 
        </button>
      </div>
    </div>
   </mat-drawer>
  <div class="app-sidenav-content">
    <div class="wrapper">
        <p>
          contnet
        </p>
    </div>
  </div>
</mat-drawer-container>
