
<div *ngIf="userNotJoinedToAnyTeam" style="margin-bottom: 10px;">
  <mat-card style="opacity: 0.985;">
    <span style="font-size: 16px;">
      You have not joined to any teams yet. Go to teams section and joint to existng team or create new one</span>
    <div fxFlex></div>
    <button mat-raised-button color="primary"
      style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px; width: 280px;"
      (click)="goToTeams()">
      <mat-icon>people_alt</mat-icon>&nbsp; Go to teams
    </button>
  </mat-card>
</div>

<div class="example-button-row">
  <button style="width: 170px; height: 170px;" mat-fab color="primary" (click)="openBottomSheet()" [disabled]="userNotJoinedToAnyTeam">
    <span style="font-size: 18px;">Create</span> <br />
    <span>New Retro Board</span> <br />
    <mat-icon style="font-size: 50px; width: 50px; height: 50px;">add</mat-icon>
  </button>
</div>

<div *ngIf="!dataIsLoading">
  <div *ngIf="shouldShowRetroBoardElements()" style="margin-top: 40px;">
    <mat-card style="margin-bottom: 40px; opacity: 0.9;">List of not started retro board</mat-card>
    <div *ngFor="let retroBoard of retroBoards">
      <mat-card style="margin-top: 20px; opacity: 0.97;" class="example-card">
        <mat-card-header>
          <div fxFlex></div>
          <button style="height: 40px; margin-right: -7px;" mat-raised-button color="warn" (click)="deleteRetroBoard(retroBoard)">
           Remove <mat-icon>remove</mat-icon>
          </button>
          <mat-card-title>
            <div>
              <span>#team {{retroBoard.team.name}} Board</span>
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            <span style="font-size: 17px;">{{retroBoard.retroName}}</span> <br/>
            <span style="font-size: 17px;">Retro for Sprint {{retroBoard.sprintNumber}}</span> <br/>
            <i>Retro Board Created at<span> {{retroBoard.creationDate}}</span></i>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card style="margin-top: 5px;">
        <mat-card-actions style="margin-top: -14px;">
          <button style="width: 100%;" mat-raised-button color="accent" (click)="onStartRetroProcess(retroBoard)">Start Retro Process</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div style="margin-top: 50px; margin-left: 22px;">
  <app-loadding-single-elements-spinner *ngIf="dataIsLoading"></app-loadding-single-elements-spinner>
</div>



