<div class="example-button-row">
  <button style="width: 170px; height: 170px;" mat-fab color="primary" (click)="openBottomSheet()">
    <span style="font-size: 18px;">Create</span> <br />
    <span>New Retro Board</span> <br />
    <mat-icon style="font-size: 50px; width: 50px; height: 50px;">add</mat-icon>
  </button>
</div>
<div style="margin-top: 40px;">
  <mat-card style="margin-bottom: 10px;">List of not started retro board</mat-card>
  <div *ngFor="let retroBoard of retroBoards">
    <mat-card class="example-card">
      <mat-card-header>
        <div fxFlex></div>
        <button style="height: 40px; margin-right: -7px;" mat-raised-button color="warn">
         Remove <mat-icon>remove</mat-icon>
        </button>
        <mat-card-title>
          <div>
            <span>#team {{retroBoard.team.name}} Board</span>
          </div>

        </mat-card-title>
        <mat-card-subtitle>
          <span style="font-size: 17px;">Retro for Sprint {{retroBoard.sprintNumber}}</span> <br/>
          <i>Retro Board Created at<span> {{retroBoard.creationDate}}</span></i>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button style="width: 100%;" mat-raised-button color="accent">Start Retro Process</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>


