<mat-nav-list>

  <div >
    <form [formGroup]="addNewRetroBoardForm" (ngSubmit)="createNewRetroBoard()" class="example-form">
        <mat-form-field class="example-full-width">
          <input [formControl]="retroName" matInput placeholder="Retro Board Name"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [formControl]="sprintName" matInput placeholder="Sprint Name"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choose Teams</mat-label>
          <mat-select [formControl]="teamsFormControl" (selectionChange)="onChangeTeams($event.value)">
          <mat-option *ngFor="let member of membersList" [value]="member">{{member}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Members</mat-label>
          <mat-select [formControl]="membersFormControl" [disabled]="shouldDisableMembersControl" multiple>
          <mat-option *ngFor="let member of membersList" [value]="member">{{member}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button style="width: 100%;" type="submit" mat-raised-button color="primary"> Create New Retro Board</button>
    </form>
  </div>
</mat-nav-list>