.info-warrning-snackbar-retro-board-deleted {
    margin-left: 42px;
    font-size: 15px;
}

.info-warrning-snackbar-workspace-with-required-access-send {
  margin-left: 10px;
  font-size: 15px;
}

.info-icon-warrning-sncakbar {
    color: #f34e4e
}
  