.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin-bottom: -15px;
}