<div *ngIf="!currentUser.isNewUser">
  <mat-card style="margin-bottom: 40px; margin-top: 20px; opacity: 0.9;">List of finished retro board</mat-card>

  <div *ngFor="let retroBoard of retroBoards">
    <mat-card class="example-card" style="opacity: 0.97;">
      <mat-card-header>
        <mat-card-title>#team {{retroBoard.team.name}} Board</mat-card-title>
        <mat-card-subtitle>
          <span style="font-size: 17px;">Retro for Sprint {{retroBoard.sprintNumber}}</span> <br />
          <i>Retro Board Created <span> {{retroBoard.creationDate}}</span></i> <br />
          <span *ngIf="retroBoard.isFinished"> Retro currently is finished</span>
          <span *ngIf="!retroBoard.isFinished">Retro currently is Open</span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content *ngIf="retroBoard.isFinished">
        <div class="chart-wrapper">
          <canvas baseChart height="40" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-top: 5px;" *ngIf="retroBoard.isFinished">
      <mat-card-actions style="margin-top: -14px;">
        <button style="width: 100%;" mat-raised-button color="primary" (click)="onRetroDetails(retroBoard)">Show Retro Board Details</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" style="margin-top: 5px;" *ngIf="!retroBoard.isFinished">
      <mat-card-actions style="margin-top: -14px;">
        <button style="width: 100%;" mat-raised-button color="accent" (click)="onRetroDetails(retroBoard)">Go to retro</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-divider style="margin-top: 10px;" [vertical]="true"></mat-divider>
</div>
<div *ngIf="currentUser.isNewUser">
  <app-new-user-wizard></app-new-user-wizard>
</div>