<div *ngIf="!currentUser.isNewUser">
  <div *ngIf="retroBoards.length > 0" class="animate__animated animate__slideInRight">

    <mat-card style="margin-bottom: 40px; margin-top: 20px; opacity: 0.985;">
      <span *ngIf="!shouldHideInMiddleResolution() || devicesSm || devicesMd" style="margin-right:10px;">Your last retro boards </span>
      <span *ngIf="devicesXs" style="margin-right:10px;">RBs </span>
      <mat-divider [vertical]="true"></mat-divider>
      <span *ngIf="!shouldHideInMiddleResolution()" style="margin-left:10px;">
        You have <span style="margin-right: 3.2px; color: #007bff; font-size: 16px;">{{openRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">open</span> 
        and <span style="margin-right: 3.2px; color: #007bff; font-size: 16px;">{{finishedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">finished</span> retro board 
        and <span style="margin-right: 3.2px; color: #007bff; font-size: 16px;">{{nonStartedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">non-started</span> retro</span>
      <div fxFlex></div>

      <span style="margin-right: 10px;" *ngIf="!shouldHideInMiddleResolution() || devicesSm || devicesMd">
        <span style="margin-right: 3.2px; color: #007bff; font-size: 16px;">{{openRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">open</span> 
        <span style="margin-left: 10px; margin-right: 3.2px; color: #007bff; font-size: 16px;">{{finishedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">finished</span>
        <span style="margin-left: 10px; margin-right: 3.2px; color: #007bff; font-size: 16px;">{{nonStartedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 16px;">non-started</span>
      </span>

      <span style="margin-right: 20px;" *ngIf="devicesXs">
        <span style="margin-right: 3.2px; color: #007bff; font-size: 14px;">{{openRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 14px;">o</span> 
        <span style="margin-left: 10px; margin-right: 3.2px; color: #007bff; font-size: 14px;">{{finishedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 14px;">f</span>
        <span style="margin-left: 10px; margin-right: 3.2px; color: #007bff; font-size: 14px;">{{nonStartedRetroBoards.length}}</span> <span style="font-weight: bold; color: #767676; font-size: 14px;">non-s</span>
      </span>
      
      <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;" (click)="goToAllRetroBoardsList()">
        <mat-icon>assignment</mat-icon><span *ngIf="!shouldHideInMiddleResolution()">&nbsp; All retro boards in {{currentWorkspace.name}} workspace</span>
      </button>
    </mat-card>

    <div *ngFor="let retroBoard of retroBoards">
      <mat-card class="example-card" style="opacity: 0.985;">
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="retroBoard.isFinished">Your current finished retro </span>
            <span *ngIf="!retroBoard.isFinished">Your current opened retro</span>
            - #team <b>{{retroBoard.team.name}}</b> Board
          </mat-card-title>
          <mat-card-subtitle>
            <span style="font-size: 17px;"><b>{{retroBoard.retroName}}</b> Board for Sprint <b>{{retroBoard.sprintNumber}}</b></span> <br />
            <i>Retro Board Created at <span> <b>{{retroBoard.creationDate}}</b></span></i> <br />
            <span *ngIf="retroBoard.isFinished"> Retro currently is finished</span>
            <span *ngIf="!retroBoard.isFinished">Retro currently is Open</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="retroBoard.isFinished && checkIfChartDataExists(pieChartData)">
          <div class="chart-wrapper">
            <canvas baseChart height="30" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
              [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="!retroBoard.isFinished">
          <div>
            <h3 style="margin-top: 15px;">Retro in progress...</h3>
            <mat-progress-bar mode="buffer" style="margin-top: -12px; margin-bottom: 8px;"></mat-progress-bar>
          </div>
        </mat-card-content>
        <!--this need get retro board card-->
        <!-- <mat-card-actions *ngIf="retroBoard.isFinished">
          <div fxFlex></div>
          <button mat-raised-button color="primary" (click)="saveAsExcel(retroBoard)">
            Save Actions as Excel <mat-icon>get_app</mat-icon>
          </button>
        </mat-card-actions>         -->
      </mat-card>

      <mat-card class="example-card" style="margin-top: 5px; margin-bottom: 30px;" *ngIf="retroBoard.isFinished">
        <mat-card-actions style="margin-top: -14px;">
          <button style="width: 100%;" mat-raised-button color="primary" (click)="onRetroDetails(retroBoard)">Show Retro
            Board Details <mat-icon>vertical_split</mat-icon></button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card" style="margin-top: 5px; margin-bottom: 30px;" *ngIf="!retroBoard.isFinished">
        <mat-card-actions style="margin-top: -14px;">
          <button style="width: 100%;" mat-raised-button color="accent" (click)="onRetroDetails(retroBoard)">Go to retro
            <mat-icon>arrow_right_alt</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-divider style="margin-top: 10px;" [vertical]="true"></mat-divider>
  </div>
  <div *ngIf="shouldShowInfoAboutNotExistingTeamsAndRetroBoards">
    <mat-card style="opacity: 0.985;">
      <span style="font-size: 16px;">Go to teams and joint to existng team or create new</span>
      <div fxFlex></div>
      <button mat-raised-button color="primary"
        style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px; width: 280px;"
        (click)="goToTeams()">
        <mat-icon>people_alt</mat-icon>&nbsp; Go to teams
      </button>
    </mat-card>

    <mat-card style="margin-top: 10px; opacity: 0.985;">
      <span>If you in team - Create new retro board </span>
      <div fxFlex></div>
      <button mat-raised-button color="primary" style="margin-top: -8px; margin-right: -8px; margin-bottom: -8px;" (click)="goToRetroProcess()">
        <mat-icon>mood</mat-icon><mat-icon>mood_bad</mat-icon>&nbsp; Go to retro board configuration
      </button>
    </mat-card>
  </div>
  
  <div style="margin-top: 50px; margin-left: 22px;">
    <app-loadding-single-elements-spinner *ngIf="dataIsLoading"></app-loadding-single-elements-spinner>
  </div>  

</div>

<div *ngIf="currentUser.isNewUser" class="teams-retro-background-img">
  <app-new-user-wizard></app-new-user-wizard>
</div>