.container {
    display: flex; /* or inline-flex */
    justify-content: center;
}

.container-flex-summary-step {
  display: flex; /* or inline-flex */
  justify-content: start;
}

  .user-settings-header-image-backgroundImage1 {
    background: url('../../../../../assets/idea2.jpeg');
    background-size: cover;
    width: 230px;
    height: 150px;
    border-radius: 3%;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .nav-user-settings-card:hover .user-settings-header-image-backgroundImage1,
  .nav-user-settings-card:focus .user-settings-header-image-backgroundImage1 {
    transform: scale(1.05);
    opacity:0.9;
  }

  
  .user-settings-header-image-backgroundImage2 {
    background: url('../../../../../assets/geometric1.jpg');
    background-size: cover;
    width: 230px;
    height: 150px;
    border-radius: 3%;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .nav-user-settings-card:hover .user-settings-header-image-backgroundImage2,
  .nav-user-settings-card:focus .user-settings-header-image-backgroundImage2 {
    transform: scale(1.05);
    opacity:0.9;
  }


  .user-settings-header-image-backgroundImage3 {
    background: url('../../../../../assets/idea1.jpg');
    background-size: cover;
    width: 230px;
    height: 150px;
    border-radius: 3%;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .nav-user-settings-card:hover .user-settings-header-image-backgroundImage3,
  .nav-user-settings-card:focus .user-settings-header-image-backgroundImage3 {
    transform: scale(1.05);
    opacity:0.9;
  }


  .userprofile-card-chosen {
    transform: scale(1.05);
    opacity:0.9;
  }

  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }


  .mat-card-header-text {
      margin: 0 0px !important;
  }

  .avatar-card-view {

    border: solid 1.5px;
    border-color: #2567b3;
  }

  .avatar-card-view-chosen {

    border: solid 1.9px;
    border-color: #49cc3b;
  }
 