.container {
    display: flex; /* or inline-flex */
    justify-content: center;
}

.container-flex-summary-step {
  display: flex; /* or inline-flex */
  justify-content: start;
}

.sidnav-userprofile-header-image {
    background-size: cover;
    width: 75px;
    height: 75px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image {
    transform: scale(1.10);
    opacity:0.7;
  }


  .sidnav-userprofile-header-image-avatar1 {
    background: url('../../../../../assets/idea2.jpeg');
    background-size: cover;
    width: 250px;
    height: 150px;
    border-radius: 0;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar1,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar1 {
    transform: scale(1.10);
    opacity:0.7;
  }

  
  .sidnav-userprofile-header-image-avatar2 {
    background: url('../../../../../assets/geometric1.jpg');
    background-size: cover;
    width: 250px;
    height: 150px;
    border-radius: 0;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar2,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar2 {
    transform: scale(1.10);
    opacity:0.7;
  }


  .sidnav-userprofile-header-image-avatar3 {
    background: url('../../../../../assets/idea1.jpg');
    background-size: cover;
    width: 250px;
    height: 150px;
    border-radius: 0;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image-avatar3,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image-avatar3 {
    transform: scale(1.10);
    opacity:0.7;
  }


  .userprofile-card-chosen {
    transform: scale(1.10);
    opacity:0.7;
  }

  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }


  .mat-card-header-text {
      margin: 0 0px !important;
  }

  .avatar-card-view {

    border: solid 1.5px;
    border-color: #2567b3;
  }

  .avatar-card-view-chosen {

    border: solid 1.5px;
    border-color: #5a9b1e;
  }
 