<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button *ngIf="!currentUser.isNewUser" mat-button class="sidenav-toggle" (click)="emitMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in
    </mat-icon>
    <span>fastretro.org</span> <span style="font-size: 9px;"><i>(Alpha version)</i></span>
    <button *ngIf="shouldShowBackToDashboard" mat-raised-button color="accent" style="margin-left: 15px;" (click)="backToDashboard()">
      <mat-icon>dashboard</mat-icon>&nbsp; Back to Dashboard
    </button>
    <button *ngIf="!currentUser.isNewUser" mat-stroked-button style="margin-left: 20px;"><mat-icon>ballot</mat-icon>&nbsp;current workspace {{currentUserWorkspaceName}}</button>    
    <span class="example-spacer"></span>
    
    <img *ngIf="!currentUser.isNewUser" [src]="currentUser.chosenAvatarUrl" width="40" height="40" style="margin-left: 30px; margin-bottom: 13px; margin-bottom: 5px; border-radius: 50%;" alt="logo">
    <span *ngIf="!currentUser.isNewUser" style="font-size: 12px;">{{currentUser.displayName}}</span> 
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)="onNotificationClick()">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <div *ngFor="let userNotification of currentUserNotifications">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>{{userNotification.displayName}}</span>
          </button>
        </div>

      </mat-menu>
    </span>

    
    <button mat-raised-button color="accent" style="margin-left: 20px;" (click)="signOut()"><i class="fa fa-sign-out"></i>&nbsp; SignOut</button>

  </mat-toolbar-row>
</mat-toolbar>