<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button *ngIf="!currentUser.isNewUser" mat-button class="sidenav-toggle" (click)="emitMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in
    </mat-icon>
    <span>Retro Drive</span>
    <span class="example-spacer"></span>
    <span>ProjectName</span>
    <mat-icon style="margin-left: -10px;" class="example-icon" aria-hidden="false" aria-label="Example user verified icon">ballot</mat-icon>
    
    <button mat-raised-button color="accent" style="margin-left: 20px;" (click)="signOut()"><i class="fa fa-sign-out"></i>&nbsp; SignOut</button>
  </mat-toolbar-row>
</mat-toolbar>