<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in</mat-icon>
    <span>Retro Drive</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="stopTimer()"><i class="fa fa-sign-out"></i>&nbsp; Stop retro timer</button>
    <span style="margin-left: 12px;">
      <span *ngIf="!shouldStopTimer">Retro in progress...</span>
      <span *ngIf="shouldStopTimer">Retro is finished</span>
    </span>
    <span style="margin-left: 12px;"><app-retro-progress-timer [shouldStopTimer]="shouldStopTimer"></app-retro-progress-timer></span>
  </mat-toolbar-row>
</mat-toolbar>
