.example-icon {
    margin-right: 12px;
  
      padding: 0 14px;
    }
    
    .example-spacer {
      flex: 1 1 auto;
    }


    .user-avatar-img {
      margin: 0px 0px 13px 30px;
    } 
    
    
    ::ng-deep.mat-menu-panel {
      max-width: none !important;
    }
  
    .mat-menu-panel.more-width-mat-menu {
      width: 500px; 
    }    