<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in</mat-icon>
    <span *ngIf="devicesMd || devicesLg || devicesXl" [routerLink]="['/']" routerLinkActive="router-link-active" >fastretro.org</span> 
    <span *ngIf="devicesMd || devicesLg || devicesXl" style="font-size: 9px;"><i>(Alpha version)</i></span>
    <button mat-raised-button color="accent" style="margin-left: 15px;" (click)="backToDashboard()">
      <mat-icon>dashboard</mat-icon> <span *ngIf="devicesMd || devicesLg || devicesXl">&nbsp; Back to Dashboard</span>
    </button>
    <button *ngIf="!currentUser.isNewUser && (devicesLg || devicesXl)" mat-stroked-button style="margin-left: 10px;"><mat-icon>ballot</mat-icon>&nbsp;current workspace {{currentUserWorkspaceName}}</button>    
    <span class="example-spacer"></span>
    <!--<button mat-raised-button color="warn" (click)="stopTimer()"><i class="fa fa-sign-out"></i>&nbsp; Stop retro timer</button>-->
    <span style="margin-right: 3px;">
      <img *ngIf="!currentUser.isNewUser && currentUser.chosenAvatarName!=='socialMediaAvatar'" src="/assets/avatars/{{currentUser.chosenAvatarName}}.png" width="40" height="40" style="margin-left: 30px; margin-bottom: 13px; margin-bottom: 5px; border-radius: 50%;" alt="logo">
      <img *ngIf="!currentUser.isNewUser && currentUser.chosenAvatarName==='socialMediaAvatar'" [src]="currentUser.photoURL" width="40" height="40" style="margin-left: 30px; margin-bottom: 13px; margin-bottom: 5px; margin-right: 5px; border-radius: 50%;" alt="logo">
      <span *ngIf="!currentUser.isNewUser && !devicesXs" style="font-size: 12px;">{{currentUser.displayName}}</span> 
    </span>
    <span
      style="cursor: pointer; margin-top: 8px;"
      *ngIf="(currentUserNotifications.length === 0 && newUserNotification === null) && !currentUser.isNewUser">
        <mat-icon>notifications</mat-icon>
    </span>    
    <span
      [matMenuTriggerFor]="menu"
      matBadge="0"
      matBadgeColor="warn"
      style="cursor: pointer; margin-top: 8px;"
      class="hide-text" 
      *ngIf="userNotifictaionHasNoReadNotify() && (currentUserNotifications.length > 0 || newUserNotification) && !currentUser.isNewUser">
        <mat-icon>notifications</mat-icon>
    </span>
    <span 
      [matMenuTriggerFor]="menu"
      style="cursor: pointer; margin-top: 8px;"
      *ngIf="!userNotifictaionHasNoReadNotify() && (currentUserNotifications.length > 0 || newUserNotification) && !currentUser.isNewUser">
        <mat-icon>notifications</mat-icon>
    </span>    
    <mat-menu class="more-width-mat-menu" #menu="matMenu">
      <div *ngIf="currentUserNotifications.length > 0 || newUserNotification">
        <div *ngFor="let userNotification of currentUserNotifications">
          <div *ngIf="userNotification.userNotification.notyficationType === 'WorkspaceWithRequiredAccess'">
            <button *ngIf="!userNotification.userNotification.isRead" (click)="goToNotifyDetail(userNotification)" mat-menu-item>
              <mat-icon color="warn">stop_circle</mat-icon>
              <span style="font-size: 15px;">user {{userNotification.displayName}} want to join to {{userNotification.workspaceName}}</span>
            </button>          
            <button *ngIf="userNotification.userNotification.isRead" (click)="goToNotifyDetail(userNotification)" mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span style="font-size: 14px; color: #696969;">user {{userNotification.displayName}} want to join to {{userNotification.workspaceName}}</span>
            </button>  
          </div>
          <div *ngIf="userNotification.userNotification.notyficationType === 'WorkspaceWithRequiredAccessResponse'">
            <button *ngIf="!userNotification.userNotification.isRead" (click)="goToNotifyDetail(userNotification)" mat-menu-item>
              <mat-icon color="warn">stop_circle</mat-icon>
              <span style="font-size: 15px;">Your joined request to {{userNotification.workspaceName}} has been accepted</span>
            </button>          
            <button *ngIf="userNotification.userNotification.isRead" (click)="goToNotifyDetail(userNotification)" mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span style="font-size: 15px;">Your joined request to {{userNotification.workspaceName}} has been 
                <span *ngIf="isAceptedByOwnerAndIsApproved(userNotification)">accepted</span>
                <span *ngIf="!isAceptedByOwnerAndIsApproved(userNotification)">rejected</span>                
              </span>
            </button>              
          </div>
        </div>
        <div *ngIf="newUserNotification">
          <div *ngIf="!newUserNotification.isRead">
            <button mat-menu-item (click)="goToNotifyDetail(newUserNotification)">
              <mat-icon color="warn">stop_circle</mat-icon>
              <span style="font-size: 15px;">Welcome to fastretro.org</span>
            </button>
          </div>
          <div *ngIf="newUserNotification.isRead">
            <button mat-menu-item (click)="goToNotifyDetail(newUserNotification)">
              <mat-icon>dialpad</mat-icon>
              <span style="font-size: 14px; color: #696969;">Welcome to fastretro.org</span>
            </button>
          </div>   
        </div>        
        <mat-divider></mat-divider>
        <button style="text-align: center; margin-top: -5px; margin-bottom: -8px;" (click)="goToViewAllNotifications()"  mat-menu-item>
          <span>
            <span style="font-size: 13.5px;">view all notifications</span>
          </span>
        </button>          
      </div>
    </mat-menu>
    <!-- <button *ngIf="!devicesXs" mat-icon-button style="margin-left: -5px;" (click)="onUserSettings()">
      <mat-icon>settings</mat-icon>
    </button>            -->
    <span *ngIf="devicesLg || devicesXl" style="margin-left: 20px;">
      <span *ngIf="!shouldChangeRetroDisplayText">Retro in progress...</span>
      <span *ngIf="shouldChangeRetroDisplayText">Retro is finished</span>
    </span>
    <span  style="margin-left: 12px;">
      <app-retro-progress-timer [shouldHideBigTimer]="true"></app-retro-progress-timer>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
