<h1 mat-dialog-title>Join to existing team in current workaspace</h1>
<div >


  <form [formGroup]="joinToExisitngTeamForm" (ngSubmit)="joinToExisitngTeam()">
    <div mat-dialog-content>
      
        <mat-form-field style="width: 100%;" *ngIf="teams.length > 0 && !dataIsLoading">
          <mat-label>Choose time to join</mat-label>
          <mat-select [formControl]="existingTeamIdFormControl">
          <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="margin-bottom: 16px; font-size: 15px;" *ngIf="teams.length === 0 && !dataIsLoading && !thisWorkspaceHasAnyTeams">
          <span>You arleady join to all team in current workspace</span>
        </div>

        <div style="margin-bottom: 16px; font-size: 15px;" *ngIf="thisWorkspaceHasAnyTeams && !dataIsLoading">
          <span>This workspace dosen't have any teams</span>
        </div>        

        <div style="margin-bottom: 16px;" *ngIf="dataIsLoading">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>        
        
      
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
      <div fxFlex></div>
      <button mat-raised-button type="submit" color="primary" *ngIf="teams.length > 0 && !dataIsLoading">Joint to existing team<mat-icon>get_app</mat-icon></button>
    </div>
  </form>
</div>

