<h1 mat-dialog-title>Join to existing team in current workaspace</h1>
<form [formGroup]="joinToExisitngTeamForm" (ngSubmit)="joinToExisitngTeam()">
  <div mat-dialog-content>
    
      <mat-form-field style="width: 100%;" *ngIf="teams.length > 0">
        <mat-label>Choose time to join</mat-label>
        <mat-select [formControl]="existingTeamIdFormControl">
        <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="margin-bottom: 16px; font-size: 15px;">
        <span>You arleady join to all team in current workspace</span>
      </div>
      
    
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <div fxFlex></div>
    <button mat-raised-button type="submit" color="primary" *ngIf="teams.length > 0">Joint to existing team<mat-icon>get_app</mat-icon></button>
  </div>
</form>