<h1 mat-dialog-title>All users in current retro</h1>
<div mat-dialog-content>
  <mat-list *ngFor="let user of dataCurrentUsersInRetroBoard">
    <mat-list-item>
      <img *ngIf="user.chosenAvatarName!=='socialMediaAvatar'" src="/assets/avatars/{{user.chosenAvatarName}}.png" width="40" height="40" style="margin-left: 30px; margin-bottom: 13px; margin-bottom: 5px; border-radius: 50%;" alt="logo">
      <img *ngIf="user.chosenAvatarName==='socialMediaAvatar'" [src]="user.photoUrl" width="40" height="40" style="margin-left: 30px; margin-bottom: 13px; margin-bottom: 5px; border-radius: 50%;" alt="logo">
      <span style="margin-left: 15px;">{{user.displayName}}</span>      
    </mat-list-item>

   </mat-list>
</div>
<div mat-dialog-actions style="margin-top: 17px;">
  <button mat-raised-button color="warn" (click)="closeClick()">Close</button>
</div>