<h1 mat-dialog-title><b>All retro actions from previous retro board</b></h1>
<div mat-dialog-content>
  <mat-list>
    <div *ngFor="let retroBoardCard of simpleRetroBoardCards">
      <h3 matSubheader style="margin-top: 10px;">Actions  of {{retroBoardCard.name}} card</h3>
      <div *ngFor="let action of retroBoardCard.actions">
        <mat-list-item *ngIf="!action.isEdit" style="margin-top: -18px;">
          <mat-icon matListIcon>description</mat-icon>
          <span matLine>
            <span style="font-size: 14px;">{{action.text}}</span>
          </span>
          <span matLine > 
            <span style="font-size: 12px; font-style: italic; color: rgb(126, 126, 126);">created {{action.creationDate}}</span>
          </span>
          <div fxFlex></div>
          <button
            mat-icon-button
            color="primary"
            style="margin-top: -20px;"
            (click)="copyCardWithActionToCurrentRetroBoardFromPrevious(retroBoardCard, action)">
            <mat-icon>file_copy</mat-icon>
            </button>
          <button
            mat-icon-button
            color="primary"
            style="margin-top: -20px;"
            (click)="editAction(action)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" style="margin-top: -20px; margin-left: -7px;" (click)="deleteAction(action)">
            <mat-icon>delete</mat-icon>
          </button>  
          <form [formGroup]="addUserToActionForm">
            <mat-form-field style="margin-top: -20px;font-size: 12px;width: 150px;margin-left: 10px;">
              <mat-select (openedChange)="usersInTeamsChange($event, retroBoardCard, action)" placeholder="Add people to action" formControlName="{{action.actionNameForFormControl}}" multiple>
                <mat-option *ngFor="let usersInTeam of usersInTeams" [value]="usersInTeam">
                    {{usersInTeam.displayName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>  

          <mat-slide-toggle
          color="primary"  
          style="margin-top: -20px; margin-left: 10px; margin-right: -10px; font-size: 13px;">Action is solved</mat-slide-toggle>

       </mat-list-item>

       <mat-list-item *ngIf="action.isEdit" style="margin-top: 15px;">
        <mat-icon matListIcon>description</mat-icon>
        <span matLine>
          <form [formGroup]="addNewActionForRetroBoardCardForm">
            <mat-form-field class="action-text-area">
              <mat-label>Add new action to card</mat-label>
              <input [formControl]="actionTextAreaFormControl" matInput/>
            </mat-form-field>
          </form>
        </span>
        <div fxFlex></div>
        <button
          mat-icon-button
          color="primary"
          style="margin-top: -20px; margin-left: 15px;"
          (click)="updateActionFromEdit(action)">
          <mat-icon>save</mat-icon>
        </button> 
        <button
          mat-icon-button
          color="primary"
          style="margin-top: -20px;"
          (click)="closeEditAction(action)">
          <mat-icon>close</mat-icon>
        </button>            

     </mat-list-item>         
      </div>
      <mat-divider></mat-divider>
    </div>

 </mat-list>
</div>
<div mat-dialog-actions style="margin-top: 10px; margin-bottom: -15px;">
  <button mat-raised-button color="warn">Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary">Save actions as Excel<mat-icon>get_app</mat-icon></button>
</div>

