<div class="root">
  <app-nav></app-nav>
  <div *ngIf="!userIsNotInCurrentRetroBoardWorkspace">
  <div *ngIf="!userIsNotInCurrentRetroBoardTeam">
  <div *ngIf="isRetroBoardIsReady" class="board">
    <div class="board-bar">
      <p class="board-name" style="margin-left: 35px;">{{ board.name }}</p>
      <mat-form-field style="width: 100px; margin-top: -6px; margin-left: 20px; margin-bottom: -20px;">
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="onChangeSort($event.value)">
          <mat-option>none</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let sortData of sortByData" [value]="sortData">{{sortData}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button 
      *ngIf="shouldShowPreviousActionBtn"
        mat-raised-button 
        color="accent"
        style="margin-left: 20px;"
        matTooltip="Show actions from previous retro board"
        matTooltipPosition="below"
        (click)="openPreviousCardActionDialog()">
        <mat-icon>receipt_long</mat-icon>
      </button>
      <button
        *ngIf="isExistingSomeRetroBoardCardAction" 
        mat-raised-button color="primary"
        style="margin-left: 10px;" 
        matTooltip="Show actions in current retro board"
        matTooltipPosition="below" 
        (click)="openAllCardActionDialog()">
          <mat-icon >description</mat-icon>        </button>
      <div fxFlex></div>
      <mat-icon
        style="font-size: 40px; margin-right: 30px;"
        matTooltip="votes (actual/max): {{actualCountOfUserVotes}}/{{actualMaxRetroBoardVotes}}"
        matTooltipPosition="left"
        color="primary">
          remove_red_eye
      </mat-icon>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!retroProcessIsStoped"
        matTooltip="show all users in current retro"
        matTooltipPosition="below"
        mat-icon matBadge="{{currentUsersInRetroBoardCount}}"
        matBadgePosition="before below"
        matBadgeColor="warn"       
        style="margin-right: 10px;"
        (click)="onOpenShowAllCurrentUsersInRetro()">
          <mat-icon>people</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="stopRetroProcess()" *ngIf="!retroProcessIsStoped"><mat-icon>power_settings_new</mat-icon>&nbsp; Finish Retro</button>
      <button mat-raised-button color="primary" *ngIf="retroProcessIsStoped" (click)="openRetroProcess()" style="margin-right: 18px;"><mat-icon >power_settings_new</mat-icon>&nbsp; Open Retro</button>
      <button mat-raised-button color="primary" style="margin-left: 10px; margin-right: 10px;" (click)="enableVoteBtns()" *ngIf="!retroProcessIsStoped">
        <mat-icon>favorite</mat-icon>&nbsp;  
        <span *ngIf="!shouldEnableVoteBtns">Enable Vote Buttons</span>
        <span *ngIf="shouldEnableVoteBtns">Disable Vote Buttons</span>
      </button>

      <button mat-raised-button color="accent" style="margin-right: 10px;" *ngIf="!timerIsRunning && !retroProcessIsStoped" (click)="openSetTimerDialog()"><mat-icon>query_builder</mat-icon>&nbsp; Set New Timer</button>
      <button mat-raised-button color="warn" style="margin-right: 10px;" *ngIf="timerIsRunning && !retroProcessIsStoped" (click)="stopTimer()"><mat-icon>query_builder</mat-icon>&nbsp; Stop Current Timer</button>

      <button mat-raised-button color="primary" style="margin-left: 10px; margin-right: 35px;" (click)="onOpenRetroBoardOptions()"><mat-icon>settings</mat-icon></button>

      <!-- <button mat-raised-button color="accent" style="margin-left: 10px;"><mat-icon>query_builder</mat-icon>&nbsp; Show Biger Timer</button> -->
      <!-- <button mat-raised-button color="primary" style="margin-left: 10px;"><mat-icon>settings</mat-icon>&nbsp; Retro Settings</button> -->
    </div>

    <app-retro-progress-timer [shouldHideSmallTimer]="true" [shouldHideBigTimer]="true"></app-retro-progress-timer>
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">
            <mat-icon>subject</mat-icon> &nbsp;{{ column.name }}
            <div fxFlex></div>
            <button [disabled]="retroProcessIsStoped" mat-raised-button color="accent" style="margin-left: 10px;" (click)="addNewCardToColumn(column.name)"><mat-icon>exposure_plus_1</mat-icon>&nbsp;Add New Card</button>
          </div>
          <div *ngIf="checkIfRetroBoardIsExists() && !dataIsLoading" class="retro-board-card-container"
          cdkDropList
          [cdkDropListData]="column.retroBoardCards"
          (cdkDropListDropped)="drop($event)">
            <div class="retro-board-card retro-board-card-chosen-for-merge" 
              [ngClass]="
                {'retro-board-card-went-well': column.name === 'Went Well',
                'retro-board-card-to-improve': column.name === 'To Improve',
                'retro-board-card-new-item': item.isEdit === true,
                'retro-board-card-new-item-went-well': item.isEdit === true && column.name === 'Went Well',
                'retro-board-card-new-item-to-improve': item.isEdit === true && column.name === 'To Improve',
                'retro-board-card-chosen-for-merge': item.isInMerge === true,
                'retro-board-card-chosen-to-add-action': item.isInAddedToAction === true
              }" 
              *ngFor="let item of column.retroBoardCards"
              cdkDrag
              (click)="editCard(item, column.name)">
              <form [formGroup]="addNewRetroBoardCardForm" (ngSubmit)="saveRetroBoardCard(item, column.name)">
              <div *ngIf="!item.isEdit">
              <div *ngIf="!item.isMerged">
                <span [ngClass]="{'blurry-text': ShouldBlurRetroBoardCardText(item)}" class="wrap-container-rbcard">
                  {{ item.name }}
                </span>
              
              </div>
               <div *ngIf="item.isMerged" >
                 <div *ngFor="let content of item.mergedContent">
                  <p style="margin-bottom: -3px;">{{content}}</p>
                  <p style="margin-bottom: -2px;">--------------</p>
                 </div>
               </div>
               <div style="margin-top: 20px; margin-bottom: -8px;">
                <!--Merge btns-->
                <button 
                  [disabled]="retroProcessIsStoped"
                  *ngIf="!item.isInMerge"
                  style="margin-right: 15px; color: #363c42;"
                  matTooltip="click and merge with oder card"
                  matTooltipPosition="after"
                  mat-icon-button 
                  [ngClass]="{'current-card-chosen-for-merge': item.isInMerge === true}"
                  (click)="onClickMergeCard(item, column.name)">
                  <mat-icon style=" font-size: 35px; width: 35px; height: 35px;">flip_to_front</mat-icon>
                </button>  
                <button 
                  *ngIf="item.isInMerge"
                  style="margin-right: 15px;"
                  matTooltip="click other card to merge or click the same btn to stop merge"
                  matTooltipPosition="after"
                  mat-icon-button 
                  [ngClass]="{'current-card-chosen-for-merge': item.isInMerge === true}"
                  (click)="onClickMergeCard(item, column.name)">
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">flip_to_front</mat-icon>
                </button>
                <button
                  [disabled]="retroProcessIsStoped"
                  *ngIf="item.isMerged"
                  style="margin-right: 15px; color: #363c42;"
                  matTooltip="unmerge all of merged cards"
                  matTooltipPosition="after"
                  (click)="onClickUnmergeCard(item, column.name)"
                  mat-icon-button >
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">sync_alt</mat-icon>
                </button>                  
                <!--Vote btns-->
                <button
                  *ngIf="!shouldHideUserVouteCountOnRetroBoardCard(item)"
                  [disabled]="!shouldEnableVoteBtns" 
                  [matBadge]="item.voteCount" matBadgeColor="primary" 
                  mat-icon-button 
                  style="color: #363c42;" 
                  (click)="onVoteCard(item)">
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">favorite</mat-icon>
                </button>
                <button
                  *ngIf="shouldHideUserVouteCountOnRetroBoardCard(item)"
                  [disabled]="!shouldEnableVoteBtns"
                  mat-icon-button 
                  style="color: #363c42;" 
                  (click)="onVoteCard(item)">
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">favorite</mat-icon>
                </button>                                  
                <button
                  style="margin-left: 10px; color: #363c42;"
                  matTooltip="click to add action to this card"
                  matTooltipPosition="after"
                  mat-icon-button 
                  (click)="onAddActionToCard(item)">
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">add</mat-icon>
                </button>
                <button
                  *ngIf="item.actions.length > 0"
                  style="margin-left: 10px; color: #363c42;"
                  matTooltip="click and show actions for this card"
                  matTooltipPosition="after"
                  mat-icon-button
                  [matBadge]="item.actions.length" matBadgeColor="priamry"
                  (click)="openCardActionDialog(item)">
                  <mat-icon style="font-size: 35px; width: 35px; height: 35px;">description</mat-icon>
                </button>
                <span 
                  style="margin-left: 25px;" 
                  matTooltip="click to remove your vote"
                  matTooltipPosition="below"
                  (click)="onRemoveCurrentUserVote(item)">
                  <i 
                    *ngFor="let currentUserVote of prepareCurrentVoteList(item)" 
                    style="opacity: 0.6; color: #363c42; margin-top: -10px; margin-left: {{currentUserVote.positionForMargin}}px; position: absolute; margin-top: 6.7px;"
                    class="fa fa-circle"
                    aria-hidden="true">
                  </i>
                </span> 
               </div> 
               
              </div>
              <div *ngIf="item.isEdit">

                <mat-form-field style="width: 100%;">
                  <mat-label>Leave your comment</mat-label>
                  <input
                    style="color: black;"
                    matInput placeholder="Ex. It makes me feel..."
                    value="item.name"
                    [formControl]="newCardContentFormControl"
                    [ngClass]="{'is-invalid':addNewRetroBoardCardForm.get('newCardContentFormControl').touched && addNewRetroBoardCardForm.get('newCardContentFormControl').invalid}"
                    required/>
                    <div class="invalid-feedback" *ngIf="newCardContentFormControl.hasError('required')">
                      <div>your content in new card is required</div>
                    </div>
                    <div class="invalid-feedback" *ngIf="newCardContentFormControl.hasError('maxlength')">
                      <div>your content card is to long</div>
                    </div>                    
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary"><mat-icon>add</mat-icon></button>
                <button mat-raised-button color="warn" style="margin-left: 5px;" (click)="closeEditCard(item, column.name)"><mat-icon>remove</mat-icon></button>
                <button mat-raised-button color="warn" style="margin-left: 20px;" (click)="removeRetroBoardCard(item)"><mat-icon>delete_forever</mat-icon></button>
              </div>
            </form>
            </div>
          </div>
          <div style="margin-top: 50px; margin-left: 22px;">
            <app-loadding-single-elements-spinner *ngIf="dataIsLoading"></app-loadding-single-elements-spinner>
          </div>            
        </div>
      </div>
    </div>
  </div>
 </div>
 </div>
</div>