<div class="root">
  <!-- <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">kanban</h1>
      </div>
    </div>
  </div> -->

  <app-nav></app-nav>


  <div class="board">

    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
      <div fxFlex></div>
      <button mat-raised-button color="warn" (click)="stopTimer()"><mat-icon>power_settings_new</mat-icon>&nbsp; Stop retro timer</button>
      <button mat-raised-button color="accent" style="margin-left: 10px;"><mat-icon>query_builder</mat-icon>&nbsp; Show Biger Timer</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;"><mat-icon>settings</mat-icon>&nbsp; Retro Settings</button>
    </div>

    <app-retro-progress-timer [shouldHideSmallTimer]="true" [shouldHideBigTimer]="true"></app-retro-progress-timer>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        
        <div class="board-column" *ngFor="let column of board.columns">

          <div class="column-title">
            <mat-icon>subject</mat-icon> &nbsp;{{ column.name }}
          </div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" [ngClass]="{'task-went-well': column.name === 'Went Well','task-to-improve': column.name === 'To Improve'}" *ngFor="let item of column.tasks" cdkDrag>
              {{ item }}
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>