/*
.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  */

.background-retro-process-backgroundImage1 {
    background-image: url('../../../assets/idea2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.background-retro-process-backgroundImage2 {
  background-image: url('../../../assets/geometric1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.background-retro-process-backgroundImage3 {
  background-image: url('../../../assets/clark-van-der-beken-IQeBZm8F-M4-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}