.container {
    display: flex; /* or inline-flex */
    justify-content: center;
}

.container-flex-summary-step {
  display: flex; /* or inline-flex */
  justify-content: start;
}

.margin-summary-step-info-random-avatar {
  margin-top: 5px;
}

.margin-text-elements-summary {
  margin-top: 30px;
}

.margin-text-elements-summary-info-random-avatar {
  margin-top: 5px;
}

.container-summary-step {
  display: flex; /* or inline-flex */
  flex-direction: column; 
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.example-margin {

}

.sidenav-userprofile-card {
    max-width: 110px;
  }


.sidnav-userprofile-header-image {
    background-size: cover;
    width: 75px;
    height: 75px;

    transition:all 0.3s ease-in-out;
    opacity:1;

    outline: none;
    border: 0;
  }

  .sidenav-userprofile-card:hover .sidnav-userprofile-header-image,
  .sidenav-userprofile-card:focus .sidnav-userprofile-header-image {
    transform: scale(1.10);
    opacity:0.7;
  }

  .avatar-card-view {
    border-radius: 70px 70px 70px 70px;
    border: solid 1.5px;
    border-color: #2567b3;
  }

  .avatar-card-view-chosen {
    border-radius: 70px 70px 70px 70px;
    border: solid 1.5px;
    border-color: #5a9b1e;
  }

  .userprofile-card-chosen {
    transform: scale(1.10);
    opacity:0.7;
  }
 