<h1 mat-dialog-title>Join to existing team in current workaspace</h1>
<form [formGroup]="joinToExisitngWorkspaceForm" (ngSubmit)="joinToExisitngWorkspace()">
  <div mat-dialog-content>
    
      <mat-form-field style="width: 100%;">
        <mat-label>Workspace Name</mat-label>
        <input
          matInput
          placeholder="join to existing workspace"
          [formControl]="existingWorkspaceNameFormControl"
          required>
        <mat-error *ngIf="existingWorkspaceNameFormControl.hasError('required')">
          This workspace name is required
        </mat-error>        
      </mat-form-field>
    
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <div fxFlex></div>
    <button mat-raised-button type="submit" color="primary">Joint to existing team<mat-icon>get_app</mat-icon></button>
  </div>
</form>