<h1 mat-dialog-title>Retro Board Options</h1>
<div mat-dialog-content>
  <mat-checkbox [checked]="retroBoardOptions.shouldBlurRetroBoardCardText">Blur retro board cards text</mat-checkbox>
</div>
<div mat-dialog-actions style="margin-top: 17px;">
  <button mat-raised-button color="warn" (click)="closeClick()">Close&nbsp;<mat-icon>clear</mat-icon></button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" (click)="saveNewChangesOfRetroBoardOptions()">Save your options&nbsp;<mat-icon>save</mat-icon></button>  
</div>