<h1 mat-dialog-title>Card <b>{{dataRetroBoardCard.name}}</b></h1>
<div mat-dialog-content>
  <mat-list>
    <h3 matSubheader>Actions</h3>
    <div *ngFor="let action of actions">
      <mat-list-item style="margin-top: 15px;">
        <mat-icon matListIcon>description</mat-icon>
        <span matLine>
          <span style="font-size: 14px;">{{action.actionText}}</span>
        </span>
        <span matLine > 
          <span style="font-size: 12px; font-style: italic; color: rgb(126, 126, 126);">created {{action.creationDate}}</span>
        </span>
        <div fxFlex></div>
        <button mat-icon-button color="primary" style="margin-top: -20px;">
          <mat-icon>edit</mat-icon>
        </button>        
        <mat-form-field style="margin-top: -20px;font-size: 12px;width: 150px;margin-left: 20px;">
          <mat-label>Add people to action</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>          
     </mat-list-item>
     <mat-divider></mat-divider>
    </div>
 </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn">Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary">Save actions as Excel<mat-icon>get_app</mat-icon></button>
</div>