<h1 mat-dialog-title>Card <b>{{dataRetroBoardCard.name}}</b></h1>
<div mat-dialog-content>
  <mat-list>
    <h3 matSubheader>Actions</h3>
    <mat-divider></mat-divider>
    <div *ngFor="let action of actions">
      <mat-list-item *ngIf="!action.isEdit" style="margin-top: 15px;">
        <mat-icon matListIcon>description</mat-icon>
        <span style="white-space: pre-wrap;" matLine>
          <span style="font-size: 14px;">{{action.text}}</span>
        </span>
        <span matLine > 
          <span style="font-size: 12px; font-style: italic; color: rgb(126, 126, 126);">created {{action.creationDate}}</span>
        </span>
        <div fxFlex></div>
        <button
          mat-icon-button
          color="primary"
          style="margin-top: -20px;"
          (click)="editAction(action)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" style="margin-top: -20px; margin-left: -7px;" (click)="deleteAction(action)">
          <mat-icon>delete</mat-icon>
        </button>             
        <form [formGroup]="addUserToActionForm">
          <mat-form-field style="margin-top: -20px;font-size: 12px;width: 150px;margin-left: 10px;">
            <mat-select (openedChange)="usersInTeamsChange($event, action)" placeholder="Add people to action" formControlName="{{action.actionNameForFormControl}}" multiple>
              <mat-option *ngFor="let usersInTeam of usersInTeams" [value]="usersInTeam">
                  {{usersInTeam.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form> 
        <mat-slide-toggle
          color="primary"  
          style="margin-top: -20px; margin-left: 10px; margin-right: -10px; font-size: 13px;"
          [checked]="action.actionIsSolved"
          (change)="changeActionIsSolved($event, action)">
            Action is solved
        </mat-slide-toggle>        
        <mat-divider></mat-divider>
     </mat-list-item>

     <mat-list-item *ngIf="action.isEdit" style="margin-top: 15px;">
      <mat-icon matListIcon>description</mat-icon>
      <span matLine>
        <form [formGroup]="addNewActionForRetroBoardCardForm">
          <mat-form-field class="action-text-area">
            <mat-label>Add new action to card</mat-label>
            <input [formControl]="actionTextAreaFormControl" matInput/>
            <mat-error *ngIf="actionTextAreaFormControl.hasError('maxlength')">
              Your action text it's to long.
            </mat-error>
          </mat-form-field>
        </form>
      </span>
      <div fxFlex></div>
      <button
        mat-icon-button
        color="primary"
        style="margin-top: -20px; margin-left: 15px;"
        (click)="updateActionFromEdit(action)">
        <mat-icon>save</mat-icon>
      </button> 
      <button
        mat-icon-button
        color="primary"
        style="margin-top: -20px;"
        (click)="closeEditAction(action)">
        <mat-icon>close</mat-icon>
      </button>            
      <mat-divider></mat-divider>
   </mat-list-item>     

    </div>
 </mat-list>
</div>
<div mat-dialog-actions style="margin-top: 10px; margin-bottom: -15px;">
  <button mat-raised-button color="warn" (click)="closeClick()">Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary">Save actions as Excel<mat-icon>get_app</mat-icon></button>
</div>