<h1 mat-dialog-title>Card <b>{{dataRetroBoardCard.name}}</b></h1>
<div mat-dialog-content>
  <mat-list>
    <h3 matSubheader>Actions</h3>
    <div *ngFor="let action of dataRetroBoardCard.actions">
      <mat-list-item >
        <mat-icon matListIcon>done</mat-icon>
        <h4 matLine>{{action}}</h4>
        <p matLine class="demo-2"> test test </p>
     </mat-list-item>
     <mat-divider></mat-divider>
    </div>
 </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button>Save actions to Excel</button>
  <div fxFlex></div>
  <button mat-button>Ok</button>
</div>