<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">assignment_turned_in</mat-icon>
    <span>fastretro.org</span> <span style="font-size: 9px;"><i>(Alpha version)</i></span>
    <span class="example-spacer"></span>
    <span>Login / Register</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">arrow_right_alt</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
