.info-warrning-snackbar-user-not-exist {
    margin-left: 42px;
    font-size: 15px;
}

.info-warrning-snackbar-user-currently-exist {
    margin-left: 18px;
    font-size: 15px;
}

.info-icon-warrning-sncakbar {
    color: #f34e4e
}