<h1 mat-dialog-title>Join to existing workspace</h1>
<div mat-dialog-content>
  <p>Currently you do not belong to workspaces <b>{{dataName}}</b>, where this retro take place </p>
  <p>but if you want to join please confirm your choice, and then join the team to which this retro board belongs</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks <mat-icon>cancel</mat-icon></button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Joint to existing workspace<mat-icon>add</mat-icon></button>
</div>